* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Almarai", sans-serif;
    background-color: lightgray;
}

/* HEADER */

h1 {
    display: inline;
}

.logo {}