* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Almarai", sans-serif;
    background-color: lightgray;
}

.margin_left {
    margin-left: 20px;
}

.editorial {
    background-color: rgb(51, 170, 244);
}

.q1_goals {
    background-color: rgb(164, 67, 255);
}

.recruiting {
    background-color: rgb(20, 226, 157);
}

.mobile {
    background-color: orange;
}

.website {
    background-color: deeppink;
}

.sales {
    background-color: rgb(60, 200, 0);
}

/* HEADER */

header {
    background-color: white;
    margin-bottom: 40px;
}

h1 {
    display: inline;
    vertical-align: middle;
    font-weight: 700;
}

.logo {
    padding: 15px;
    vertical-align: middle;
}

/* MAIN */
/* FIRST SECTION */

.button-container {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 50px;
    padding-top: 12px;
    background-color: white;
    height: 50px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3px;
}

.button-task {
    border: 0;
    background-color: rgb(51, 170, 244);
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.button-section {
    border: 0.1px solid lightgray;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    color: lightgrey;
}

/* SECOND SECTION */

.list-container {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
}

ul {
    list-style-type: none;
    line-height: 45px;
}

.first-line {
    margin-top: -15px;
}

.check {
    color: rgb(0, 150, 0);
    border: 0.1px solid;
    border-radius: 50%;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 8px;
}

.cross {
    color: red;
    font-size: 10px;
    border: 0.1px solid;
    border-radius: 50%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 8px;
}

.tag {
    font-size: 12px;
    color: white;
    border-radius: 10px;
    padding: 5px;
}